
<div class="activity-banner activity-banner--@ViewBag.Suffix">
    <div class="inner">
        <h1>@ViewBag.Title</h1>
        <div class="stick-to-bottom">
            <i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
        </div>
    </div>
</div>
