<div class="col-1-3">
    <h1>Prices</h1>
    <table>
        <tr>
            <td>
                <p>Price per person: @ViewBag.Details.price DKK</p>
            </td>
        </tr>
    </table>
    <br />
    <p>Qualified instructors: @ViewBag.Details.employees.Count</p>
    <hr>
    @Html.ActionLink("Book now!", "Index", "Booking", new { area = "" }, new { @class = "button" })
</div>