body {
    background-color: black;
    padding-top: 107px;
	font-family: 'Open Sans', sans-serif;
}

.header {
	padding: 40px;
	position: fixed;
    z-index: 998;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.95);
    top: 0;
}

#logo {
  width:179px;
}


a {
    color: darkgrey;
    text-decoration: none;
    &:hover {
        color: #01447e;
        text-decoration: underline;
    }
}