
@{
    ViewBag.Title = "Index";
}
<!--breadcrumb-->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li>Safety Information</li>
</ul>

<div class="feature">
    <h1>Safety Information</h1>
    <p> Coming soon..</p>
</div>