
@{
    ViewBag.Title = "Bowtag";
}
<!--banner image-->
<div class="activity-banner-2">
    <div class="inner">
        <h1>Archery</h1>
        <div class="stick-to-bottom">
            <i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
        </div>
    </div>
</div>
<!--breadcrumb-->
<ul class="breadcrumb">
    <li>
        @Html.ActionLink("Back", "Index", "Activity", new { area = "" }, new { @class = "activity" })
    </li>
    <li>Archery</li>
</ul>
<!--Column content-->
<div class="column">
    <div class="col-2-3">
        <h1>Try your hand on being Katniss 2.0!</h1>
        <p>Are you ready to take aim? Our archery experience gives you the chance to learn new skills and feeling the satisfaction, furthermore it takes you way back to ancient battlefields. We have a great site for Target Archery and a bespoke combat zone for Bow tag. We have latest modern equipment here in Adventure Life that brings this sport safely up to date. </p>
        <p>We have bows and arrows for all shapes and sizes and the experience is designed for all levels of ability. All the sessions begin with a safety briefing and choosing the bow that suits you. After that we learn the basic techniques such as correct stance, holding position and firing the arrow. This experience is ideal for complete beginners or as a unique gift for children, and being located in the Adventure Life there is plenty to do in the surrounding area, as well rock climbing and paintball.</p>
        <p>So go ahead and spend all your day at Adventure Life. Come and enjoy a fantastic day and feel the strength of the bow and the power of arrow! Scheduling sessions are available to book online with parties and groups. Take a look through the options at the right and book your next archery experience!</p>
    </div>
    <div class="col-1-3">
        <h1>Prices</h1>
        <table>
            @Html.Partial("_ActivityDetails")
        </table>
            <hr>
            <button class="button">Book now!</button>
        </div>
