
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Paintball", "Paintball", "Activity", new { area = "" }, new { @class = "activity" })
<br />
@Html.ActionLink("Bow Tag", "Bowtag", "Activity", new { area = "" }, new { @class = "activity" })
<br />
@Html.ActionLink("Rock Climbing", "Rockclimbing", "Activity", new { area = "" }, new { @class = "activity" })