
@{
    ViewBag.Title = "Paintball";
}

<div class="activity-banner activity-banner--paint">
    <div class="inner">
        <h1>Paintball</h1>
        <div class="stick-to-bottom">
            <i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
        </div>
    </div>
</div>
<!--breadcrumb-->
<ul class="breadcrumb">
    <li>
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })
    </li>
    <li>Paintball</li>
</ul>
<!--Column content-->
<div class="column">
    <div class="col-2-3">
        <h1>Let your inner sniper loose!</h1>
        <p>For an action filled day with friends or family come and visit us at Adventure Life. Our Adventure Life paintball centre is equipped with high-spec equipment including the latest paintball guns and protective gear to ensure your paintballing safety while enjoying a fun-filled day of paintballing. Our fields have most unique and exhilarating game zones in the paintball industry, filled with props such as helicopter, jet planes, military tanks, site of ruins and much more. </p>
        <p>Take to our scenarios and battle your way through new challenges to prove that you are the ultimate paintball team. You and your friends will be equipped with a Camo suit, goggles and a semi-automatic paintball marker. Our team of experts will be on hand at all time, so whether you are a first timer, or a hardened veteran, help is always around. At Adventure Life we are fully dedicated to providing you with the highest standards of safety, value for money and paintballing fun!</p>
        <p>We cater for all levels of players, so if you are a first time player or a regular weekend warrior we are able to provide you with the best experience. So what are you waiting for? Round your troops, book the event and start working on your tactics! Our Unique location in Aarhus makes us the perfect choice if you are looking for Paintballing near Aarhus Kommune. Take a look through the options at the right and book your next rockclimbing experience!</p>
    </div>

@Html.Partial("_ActivityDetails")

</div>