// Base Spacing Unit
$spacing: 22px;

// Widths
$width--palm: 360px;
$width--portable: 680px;
$width--desk: 960px;
$width--desk-wide: 1280px;

// Radius
$radius--base: 8px;
$radius--large: $radius--base * 1.75;
$radius--small: $radius--base / 2;

// Time
$time--slow: .5s;
$time--fast: .1s;

// Shadows
$shadow__header: 0 0 35px $color--dark;

// Transitions
$transition--slow: $time--slow ease-in-out;
$transition--fast: $time--fast ease-in-out;