// grabbing the fonts

@font-face {
	font-family: 'Biometric Joe';
	src: url('../fonts/biometric-joe.ttf') format('truetype');
}

@font-face {
	font-family: 'Gidole Regular';
	src: url('../fonts/Gidole-Regular.otf') format('opentype');
	src: url('../fonts/Gidole-Regular.ttf') format('truetype');
	src: url('../fonts/Gidole-Regular.woff') format('woff');
	src: url('../fonts/Gidole-Regular.woff2') format('woff2');
}

// declaring the font options

$font-family--base: 'Gidole Regular', Verdana, Tahoma, Geneva, sans-serif;
$font-family--heading: 'Biometric Joe', Impact, Charcoal, sans-serif;

// declaring the font sizes

$font-size--base: 18px;

$font-size--xlarge: 42px;
$font-size--large: 30px;
$font-size--medium: 23px;
$font-size--small: 14px;
$font-size--xsmall: 12px;
$font-size--nano: 8px;

// declaring the font weights

$font-weight--base: 400;
$font-weight--light: 300;
$font-weight--medium: 500;
$font-weight--heavy: 700;

// declaring the line height

$line-height--base: 1.6;

// dedicated settings and helpers

html {
	font-family: $font-family--base;
	font-size: $font-size--base;
	font-weight: $font-weight--base;
	line-height: $line-height--base;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.heading {
	font-family: $font-family--heading;
}

.regular {
	font-family: $font-family--base;
}

h1, .alpha {
	font-size: $font-size--xlarge;
	font-weight: $font-weight--heavy;
}

h2, .beta {
	font-size: $font-size--large;
	font-weight: $font-weight--heavy;
}

h3, .gamma {
	font-size: $font-size--medium;
	font-weight: $font-weight--heavy;
	@media (min-width: $width--portable) {
		font-size: $font-size--large;
	}
}