
@{
    ViewBag.Title = "Index";
}

<!--breadcrumb-->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li>Contact</li>
</ul>
<!--contact form-->
<!--<div class="container">-->
<form action="">
    <fieldset>
        <h1>Contact with us!</h1>
        <div class="form-group">
            <label>Full Name <span>*</span> </label>
            <input type="text">
        </div>
        <div class="form-group">
            <label>Email<span>*</span> </label>
            <input type="text">
        </div>
        <div class="form-group">
            <label>Comment<span>*</span> </label>
            <textarea name="textarea" spellcheck="false" placeholder="Leave your question here.."></textarea>
        </div>
        <hr>
        <input type="submit" value="Submit">
    </fieldset>
</form>
<!--</div>-->